@media screen and (max-width: 800px) {
  .profile-card {
    width: 95%;
    max-width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .profile-card {
    background-position: 50% 0%;
    background-size: cover;
    height: 400px;
  }
}

.profile-card__overlay {
  background-blend-mode: multiply;
  background: linear-gradient(
    to right,
    rgba(42, 159, 255, 0.2) 0%,
    var(--video-bg) 50%,
    var(--video-bg) 100%
  );
}
@media screen and (max-width: 600px) {
  .profile-card__overlay {
    background: linear-gradient(
      to bottom,
      rgba(42, 159, 255, 0.2) 0%,
      #212120 60%,
      #212120 100%
    );
  }
}

@media screen and (max-width: 1000px) {
  .profile-card__content {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .profile-card__content {
    margin-top: 4.2em;
    width: 100%;
    float: inherit;
    max-width: 100%;
    padding: 0 1em 1em;
  }
}
