/** @format */

$color_1: #fff;
$color_2: transparent;
$color_3: #7dd3fc;

.border-color {
  border-color: var(--border-color);
}

.logo-expand {
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.sidebar-link {
  &:hover {
    &:nth-child(1) {
      svg {
        background: #f87171;
      }
    }
    &:nth-child(2) {
      svg {
        background: #fcd34d;
      }
    }
    &:nth-child(3) {
      svg {
        background: #bef264;
      }
    }
    &:nth-child(4) {
      svg {
        background: #6ee7b7;
      }
    }
    &:nth-child(5) {
      svg {
        background: #67e8f9;
      }
    }
    &:nth-child(6) {
      svg {
        background: #93c5fd;
      }
    }
    &:nth-child(7) {
      svg {
        background: #c4b5fd;
      }
    }
  }
}
.sidebar-link.is-active {
  color: $color_1;
  font-weight: 600;
  &:nth-child(1) {
    svg {
      background: #f87171;
    }
  }
  &:nth-child(2) {
    svg {
      background: #fcd34d;
    }
  }
  &:nth-child(3) {
    svg {
      background: #bef264;
    }
  }
  &:nth-child(4) {
    svg {
      background: #6ee7b7;
    }
  }
  &:nth-child(5) {
    svg {
      background: #67e8f9;
    }
  }
  &:nth-child(6) {
    svg {
      background: #93c5fd;
    }
  }
  &:nth-child(7) {
    svg {
      background: #c4b5fd;
    }
  }
}
